body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; 
    font-family: Montserrat, sans-serif;; 
  }
  
  .container, .main-container, .sub-container {
    background-color: #f0f0f0;
  }
  .datos {
    transform:  translate(600px, -30px);
}

.datos2 {
  transform:  translate(100px, -10px);
}

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 20px 0; 
  }
  
  .side-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

 
  #nextDayButton {
    cursor: pointer;
    padding: 0 5px;
    margin-left: 10px;
    border: none;
    background: transparent;
    transform: translate(260px, 74px); 
  }
  
  #todayDate {
    transform: translate(70px, 100px);
  }

  #prevDayButton {
    cursor: pointer;
    padding: 0 5px;
    margin-right: 10px; 
    border: none;
    background: transparent;
    transform: translate(250px, 125px);

  }
  
  
  
  .main-title {
    flex-grow: 1;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  
  
  
  .info {
    font-size: 18px;
  }
  
  .info span {
    font-weight: bold;
  }
  
  @media (max-width: 768px) {
  }
  
  @media (max-width: 480px) {
  }
  
  .main-container, .sub-container {
    width: 100vw;
  }
  
  .sub-container {
    display: flex;
  justify-content: space-between; 
  padding: 20px;
  }
  
  .ventas, .filtro-fechas {
    flex: 0 0 48%; 
  margin: 0 10px;
  }
  
  .fechas {
    display: flex;
    align-items: center;
  }

  @media (max-width: 768px) {
    .filtro-fechas {
      flex: 0 0 100%; 
      margin-bottom: 10px;
    }
  }

  .comandos {
    display: flex;
    align-items: center;
  }
  
  .comandos i {
    font-size: 1.5em; 
    margin-right: 10px;
  }
  
  
 
  
  .estado-alertas {
    display: flex;
  }
  
  .cuadro {
    width: 20px; 
    height: 20px;
    margin-right: 5px;
  }
  
  
  
  @media (max-width: 768px) {
   
  
    .ventas, .filtro-fechas {
      margin-bottom: 10px;
    }
  
    
  }
  
  @media (max-width: 480px) {
 
  }
  .titulo-notas-ventas h2 {
    font-size: 22px;
    font-weight: bold;
    text-align: left;
    margin: 5px 0; 
    padding-left: 5px; 
  }
  
  .section-container {
    background-color: #f0f0f0; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  
  .schedule-container {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.schedule-header, .schedule-row {
    display: table-row;
    
}

.header-item, .time-block, .data-block {
    display: table-cell;
    padding: 8px;
    border: 1px solid #ccc;
    text-align: center;
    height: 50px;
}

.header-item {
     background-color: #ddd;
      font-weight: bold;
}

.time-block {
    background-color: #ddd;
    font-weight: bold;
}

.red-column-header {
    background-color: #ff0000;
    color: #ffffff;
}

.red-column {
    background-color: #ff0000;
    color: #ffffff;
}

@media (max-width: 768px) {
    .header-item, .time-block, .data-block {
        padding: 4px; 
        height: 40px; 
    }

    .schedule-container {
        display: block;
    }

    .schedule-header, .schedule-row {
        display: block;
    }

    .header-item, .time-block, .data-block {
        display: block; 
        width: 100%;
        box-sizing: border-box; 
    }

    .time-block {
        background-color: #ddd;
        font-weight: bold;
    }
}










.section-container {
  padding: 20px;
  background-color: #f0f0f0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.titulo-notas-ventas h2 {
  margin-bottom: 20px;
}

.datos-venta-fecha {
  display: flex;
  flex-wrap: wrap;
  gap: 1px; 
  margin-bottom: 10px;
}

.datos-cliente-descripcion {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
}

.nota-venta, .fecha-entrega, .fecha-instalacion, .cliente, .descripcion {
  flex-grow: 1;
  margin-right: 10px;
  max-width: 200px; 
}

input[type="text"], input[type="date"] {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  margin-top: 2px;
}

@media (max-width: 768px) {
  .datos-venta-fecha, .datos-cliente-descripcion {
    flex-direction: column;
  }

  .nota-venta, .fecha-entrega, .fecha-instalacion, .cliente, .descripcion {
    margin-right: 0;
    margin-bottom: 10px;
    max-width: none; 
  }
}






.estado-despachos {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 20px; 
}

.estado-despacho {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.estado-indicador {
  width: 20px; 
  height: 20px; 
  margin-right: 5px; 
}

.confirmado {
  background-color: lightblue; 
}

.por-confirmar {
  background-color: lightcoral; 
}

.post-venta {
  background-color: lightgreen; 
}

@media (max-width: 768px) {
  .estado-despachos {
    margin-left: 0;
    margin-top: 10px;
  }

  .datos-venta-fecha, .datos-cliente-descripcion, .estado-despachos {
    flex-basis: 100%;
  }
}



.comandos-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.comando-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
  margin: 0 2px;
}

.comando-btn i {
  font-size: 16px; 
  color: #000; 
}

@media (max-width: 768px) {
  .comandos-container {
    margin-top: 10px;
  }
}



.nota-venta input[type="text"] {
  width: 44%; 
}



.fecha-entrega input[type="date"] {
  width: 55%; 
}




.fecha-instalacion input[type="date"] {
  width: 55%;
}



label {
  font-weight: bold;
}






















.modal {
  display: none;
  position: fixed; 
 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 70%; 
  max-width: 1300px;
  height: 560px;
  max-height: 80vh; 
}


.close-button {
  color: #aaa;
  float: right;
  font-size: 24px;
  font-weight: bold;
}


.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.close-button {
  width: 20px; 
  display: inline-block; 
}

@media screen and (max-width: 600px) {
  .modal-content {
    margin: 10% auto; 
    width: 95%; 
    max-height: 90vh; 
  }
}




@media screen and (max-width: 768px) {
  .modal-content {
      margin: 5% auto;
      padding: 10px;
  }

  .modal-row {
    flex-direction: column;
  }

  .modal-column {
    flex-basis: 100%;
    margin-right: 0;
  }

  .modal-column-comandos {
    align-items: center;
  }

  .comandos-buttons {
    justify-content: center;
  }

  .status-indicators {
    flex-wrap: wrap;
  }

  .status-indicator {
    margin-right: 5px;
    margin-bottom: 5px;
  }

  .form-field {
    flex-basis: 100%; 
    max-width: none; 
    margin-right: 0; 
    margin-bottom: 10px; 
  }

  .form-row {
    flex-direction: column;
  }

  .third-width, .half-width {
    flex: 0 0 100%; 
    margin-right: 0;
  }

  .form-field {
    margin-bottom: 10px; 
  }
  .modal-column {
    flex-basis: 100%; 
    max-width: 100%; 
    margin-right: 0; 
    margin-bottom: 10px;
  }

  .modal-row {
    flex-direction: column;
  }

  

  .modal-column:last-child {
    margin-bottom: 0; 
  }
}





  .modal-header,
  .modal-meta {
    flex-direction: column;
    align-items: flex-start; 
  }

  .modal-meta span {
    margin-top: 5px; 
  }





@media screen and (max-width: 480px) {
  .modal-content {
    margin: 15% auto; 
    width: 95%; 
  }

  .modal-title h2 {
    font-size: 1em; 
  }

  
}



.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}





.modal-section {
  display: flex;
  flex-direction: column;
  transform: translateY(-80px); 

}

.modal-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.modal-column {
  display: flex;
  flex-direction: column;
  flex-basis: calc(50% - 5px); 
  margin-right: 10px;
}

.modal-column:last-child {
  margin-right: 0;
}

.modal-column input[type="text"] {
  margin-bottom: 5px;
  padding: 5px;
  border: 1px solid #ccc;
}

.modal-column-comandos {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.comandos-label {
  margin-bottom: 5px;
}

.comandos-buttons {
  display: flex;
  align-items: center;
}

.comandos-buttons .comando-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0 2px;
  padding: 10px;
  
}

.comandos-buttons .comando-btn i {
  font-size: 30px;
}


.modal-body {
  transform: translateY(-60px); 
}



.modal-section1 {
  display: flex;
  justify-content: space-between;
  transform: translateY(-90px); 


}


/* Estilos existentes */
.modal-observations {
  display: flex; 
  justify-content: space-between; 
  align-items: flex-start; 
  width: 62%; 
  transform: translateY(-90px);
}

.textarea-container {
  width: 45%; 
  margin-top: 5px; 
}

.textarea-container textarea {
  width: 100%; 
  height: 60px;
  padding: 5px;
  border: 1px solid #ccc;
  resize: vertical; 
}

#observacionesExtra {
  margin-bottom: 10px; /* Ajusta el margen según sea necesario */
  height: 5px;
}





.modal-status {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}



.status-indicator label {
  display: flex;
  align-items: center;
}

.status-indicators {
  display: flex;
  flex-direction: row; 
  align-items: center; 
}
.status-indicator {
  display: flex;
  align-items: center;
  margin-right: 20px; 
}

.status-indicator input[type="checkbox"] {
  margin-right: 10px; 
}

.indicator-color {
  width: 20px;
  height: 20px;
  margin-right: 10px; 
}
.indicator-text {
  margin-left: 10px; 
  margin-top:10px
}


.confirmed {
  background-color: lightblue;
}

.pending {
  background-color: lightcoral;
}

.post-sale {
  background-color: #008000;
}



.form-field {
  flex-basis: 45%; 
  max-width: 175px; 
  display: flex;
  flex-direction: column;
  margin-right: 20px; 
}



.form-row {
  display: flex;
 
  margin-bottom: 10px;
}


.third-width {
  flex: 0 0 32%; 
}

.half-width {
  flex: 0 0 49%; 
}

.form-field:last-child {
  margin-right: 0; 
}




.modal-column:nth-child(1), .modal-column:nth-child(2) {
  flex-basis: 30%; 
  max-width: 30%; 
}

.modal-column:last-child {
  margin-right: 0;
}





.modal-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.modal-column {
  display: flex;
  flex-direction: column;
  flex: 1; 
  margin-right: 10px; 
}

.third {
  max-width: calc(33.333% - 10px); 
}

.modal-column:last-child {
  margin-right: 0; 
}

.modal-column input[type="text"],
.modal-column select {
  padding: 5px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
  width: 100%; 
  box-sizing: border-box; 
}

.modal-header {
  max-width: 90%; 
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-50px); 
}



.input-icon-container {
  position: relative;
}

.input-icon-container input {
  padding-right: 30px; 
}

.input-icon-container i {
  position: absolute;
  right: 10px; 
  top: 70%;
  transform: translateY(-30%); 
  pointer-events: none; 
}

.bloques-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 10px; 
  border: 2px solid #d3d3d3; 
  border-radius: 10px; 
  width: 30%; 
  margin: auto; 
}



.instaladores-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 10px; 
  border: 2px solid #d3d3d3; 
  border-radius: 10px; 
  width: 30%; 
  margin: auto; 

}



.bloques-title {
  font-size: 14px; 
  margin: 10px 0; 
  padding: 5px 10px;
  display: inline-block; 
  justify-content: center;
  transform: translate(150px, 10px);
}


.bloques-title1{
  font-size: 14px; 
  margin: 10px 0; 
  padding: 5px 10px;
  display: inline-block; 
  justify-content: center;
  transform: translate(150px, 40px);
}




.bloques {
  display: flex;
  flex-direction: column;
  align-items: center; 
  transform: translate(400px, -550px);
}


.instaladores {
  display: flex;
  flex-direction: column;
  align-items: center; 
  transform: translate(400px, -560px);
}



.linea-vertical {
  width: 1px; 
  height: 0px; 
  background-color: #d3d3d3; 
  margin: auto; 
  transform: translate(400px, -440px);
}


.comando-btn {
  position: relative;
  display: inline-block;
}





















.tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.comando-btn:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}




.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
  transform: translateY(-5px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}



button, a {
  transition: background-color 0.3s, color 0.3s;
}

button:hover, a:hover {
  background-color: lightblue;
  color: black;
}
.fa-arrow-left, .fa-arrow-right, .fa-undo, .fa-save, .fa-plus, .fa-arrow-left {
  transition: transform 0.3s ease-in-out;
}

.fa-arrow-left:hover, .fa-arrow-right:hover, .fa-undo:hover, .fa-save:hover, .fa-plus:hover, .fa-arrow-left:hover {
  transform: scale(1.1);
}


input[type="text"], input[type="date"] {
  transition: border-color 0.2s, box-shadow 0.2s;
}

input[type="text"]:focus, input[type="date"]:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.modal {
  transition: opacity 0.4s ease-in-out;
}

.modal.open {
  opacity: 1;
}
.data-block:hover {
  background-color:lightblue;
  cursor: pointer;
}


.section-container, .modal-content {
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
@media (max-width: 768px) {
  .container, .main-container {
    flex-direction: column;
  }
}



.asignacion-multiple {
  display: flex;
  align-items: center;
  gap: 10px;
  transform: translate(-70px, 0); 
}

input[type="checkbox"]:disabled {
  opacity: 0.6; 
  cursor: not-allowed; 
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
  transform: translateY(-5px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}



.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.estado-calendarizado {
  background-color: lightblue;
  word-wrap: break-word; /* Asegura que las palabras largas no desborden el contenedor */
  overflow-wrap: break-word; 
 
}

.estado-en-espera, .estado-sin-asignar {
  background-color: lightcoral;
  word-wrap: break-word; /* Asegura que las palabras largas no desborden el contenedor */
  overflow-wrap: break-word; 
}
.data-block {
  min-height: 20px; 
  
}
.data-block-bloqueado {
  background-color: #f0f0f0; 
  pointer-events: none; 
  cursor: default; 
}







.estado-post-venta {
  background-color: lightgreen;
  word-wrap: break-word; /* Asegura que las palabras largas no desborden el contenedor */
  overflow-wrap: break-word; 
}





button:hover,
a:hover,
.comando-btn:hover {
  background-color: #e0e0e0; /* Cambia el color de fondo al pasar el ratón por encima */
  color: #333; /* Cambia el color del texto */
}

.comandos i:hover {
  transform: scale(1.1); /* Aumenta el tamaño del ícono para indicar interactividad */
}
button,
a,
.comando-btn {
  transition: background-color 0.3s ease, color 0.3s ease;
}
.section-container {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Una sombra más pronunciada */
}

button,
.comando-btn {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

button:hover,
.comando-btn:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.modal.open {
  animation: fadeIn 0.5s;
}
input[type="text"]:focus,
input[type="date"]:focus {
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25); 
}

button:active,
.comando-btn:active {
  transform: translateY(2px); 
}

input[type="text"]:focus,
input[type="date"]:focus {
  outline: none; 
  border-color: #007bff;
}








.main-title {
  font-size: 2rem; 
  color: #333; 
}
.schedule-row:nth-child(odd) {
  background-color: #f9f9f9;
}
.schedule-row:nth-child(even) {
  background-color: #e9e9e9;
}
button:active,
a:active {
  transform: scale(0.98);
  background-color: #007bff;
  color: #fff;
}
.data-block {
  transition: background-color 0.3s ease;
}


.button-primary {
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  padding: 10px 15px;
}
.button-primary:hover {
  background-color: #0056b3;
}
.comando-btn .fas {
  margin-right: 5px;
}
@media (max-width: 768px) {
  .main-title {
    font-size: 1.5rem;
  }
  .schedule-container {
    display: block;
  }
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
.date-nav-button {
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0 5px;
}
.date-nav-button:hover {
  background-color: #e2e6ea;
}










.miModalConfirmacion {
  position: fixed; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center; 
  align-items: center; 
  visibility: hidden; 
  z-index: 1; 
}

.miModalConfirmacion-content {
  background-color: #fff; 
  padding: 20px; 
  border-radius: 5px; 
  width: 50%; 
  max-width: 500px; 
}

.miModalConfirmacion-header {
  margin-bottom: 20px; 
}

.miModalConfirmacion-close-button {
  float: right; 
  font-size: 1.5rem; 
  cursor: pointer; 
}

.miModalConfirmacion-body {
  margin-bottom: 20px; 
  font-size: 1.2rem; 
}

.miModalConfirmacion-btn {
  padding: 10px 20px; 
  cursor: pointer; 
  border: none; 
  border-radius: 5px; 
  margin-right: 70px; 
}

/* Estilo para el botón primario */
.miModalConfirmacion-btn-primary {
  background-color: #007bff; 
  color: white; 
}

.miModalConfirmacion.visible {
  visibility: visible; 
}





/* Estilo base para el modal de selección de días */
.miModalSeleccionDias {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none; /* Inicialmente oculto */
  justify-content: center;
  align-items: center;
  z-index: 1; /* Asegúrate de que tenga un z-index mayor que otros elementos */
}

/* Estilo para el contenido del modal de selección de días */
.miModalSeleccionDias-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 60%;
  max-width: 600px; /* Ajusta esto según tus necesidades */
}

.miModalSeleccionDias-header, .miModalSeleccionDias-footer {
  margin-bottom: 20px;
}

.miModalSeleccionDias-close-button {
  float: right;
  font-size: 1.5rem;
  cursor: pointer;
}

.miModalSeleccionDias-btn {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.miModalSeleccionDias-btn-primary {
  background-color: #007bff;
  color: white;
}


#calendario {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 días a la semana */
  gap: 5px;
}

.dia {
  padding: 10px;
  background-color: #f0f0f0;
  text-align: center;
  cursor: pointer;
}

.dia.seleccionado {
  background-color: #007bff;
  color: white;
}


.miModalSeleccionDias-controls {
  text-align: center;
  margin-bottom: 10px;
}

.miModalSeleccionDias-controls button {
  margin: 0 10px;
}



select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  margin-top: 2px;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
}

option {
  padding: 5px;
}






.boton-inicio {
  background-color: lightblue;
 
}


.input-icon-container {
  position: relative;
  display: inline-block;
}

.icon-button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-30%);
  background: transparent;
  border: none;
  padding: 15px;
  cursor: pointer;
}

.icon-button i {
  font-size: 1.2em; 
}


.modal-dialog {
  max-width: 95%;
}

.modal-header-transporte-nuevo {
  background: #fff; 
  border-bottom: 1px solid #e9e9e9; 
  padding: 15px; 
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-header-transporte-nuevo .close {
  padding: 0; 
  margin: 0; 
  font-size: 1.5rem; 
}

.modal-body-transporte-nuevo {
  padding: 20px;
  background: #f8f9fa; 
  max-height: calc(100vh - 210px); 
  overflow-y: auto; 
}

.modal-footer-transporte-nuevo {
  display: flex;
  justify-content: flex-end; 
  padding: 1rem;
  border-top: 1px solid #e9e9e9;
}

.modal-footer-transporte-nuevo .btn {
  margin: 0 10px; 
}

.modal-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Consideraciones para el responsive */
@media (max-width: 576px) {
  .modal-footer-transporte-nuevo .btn {
      width: 100%; 
      margin-top: 10px; 
  }
}
